.contact__section {
	position: relative;
	height: 85vh;
}

.contain {
	position: absolute;
	top: 30%;
	left: 22%;
	width: 75%;
}
.contact__info {
	width: 75%;
}
.contact__container {
	display: grid;
	position: relative;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	width: 60%;
	height: 10%;
	left: 50px;
	grid-gap: 60px;
	opacity: 0;
}
.find__me {
	font-size: 1.8em;
	color: var(--main-font-color);
	position: relative;
	left: -50px;
	opacity: 0;
	font-weight: 100;
}
.contact__container h2 {
	font-size: 1rem;
}
.contact__container h2 a {
	text-decoration: none;
	color: var(--timeline);
	font-size: 1.4em;
	cursor: crosshair;
}

.get__in__touch {
	text-transform: uppercase;
	border: none;
	background: linear-gradient(to right, rgb(32, 121, 255), rgb(35, 101, 175));
	width: 10em;
	height: 2em;
	font-weight: 400;
	text-align: center;
	margin-top: 5rem;
	padding-top: 0.7em;
	border-radius: 50px;
	color: rgb(255, 255, 255);
	font-size: 1.2em;
	box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.1);
	transition: all 200ms ease-in-out;
	margin-bottom: 2rem;
	opacity: 0;
}
.get__in__touch:hover {
	transform: scale(1.1);
	opacity: 0.8;
}

.touch__modal {
	overflow-y: hidden;
	position: fixed;
	top: -50px;
	left: 0%;
	height: 100vh;
	width: 100vw;
	background: rgb(20, 19, 29);
	z-index: 1000;
	opacity: 0;
}

.modal__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.header__touch {
	text-align: center;
}
.header__touch h1 {
	font-size: 2.5rem;
	font-weight: 100;
	color: #fff;
}

form {
	display: block;
	color: #fff;
}

form .input {
	border: none;
	border-bottom: 1px solid rgb(238, 238, 238);
	background: rgb(20, 19, 29);
	color: rgb(238, 238, 238);
	height: 3rem;
	width: 20rem;
	outline: none;
	padding: 0;
	font-size: 1.2rem;
	transition: all 0.6s ease-in-out;
	z-index: 1001;
}

.input__wrap {
	position: relative;
	margin-bottom: 15%;
	margin-top: 15%;
}

.labels {
	position: absolute;
	bottom: 25%;
	z-index: 999;
	font-size: 1.1rem;
}

#nav-icon1 {
	width: 60px;
	height: 45px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 3rem 3rem;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
	cursor: pointer;
	transform: scale(0.8);
	transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) ease-in;
}

#nav-icon1:hover {
	transform: scale(1);
	color: #fff;
}

#nav-icon1 span {
	display: block;
	position: absolute;
	height: 5px;
	width: 80%;
	background: #cfcfcf;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
	top: 18px;
	transform: rotate(135deg);
}

#nav-icon1 span:nth-child(2) {
	top: 18px;
	transform: rotate(-135deg);
}

.send__email {
	text-transform: uppercase;
	border: none;
	background: linear-gradient(to right, rgb(32, 121, 255), rgb(35, 101, 175));
	width: 7em;
	height: 2.3em;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding-top: 0;
	border-radius: 50px;
	color: rgb(255, 255, 255);
	font-size: 2.2em;
	box-shadow: 3px 4px 31px 10px rgba(14, 14, 14, 0.5);
	transform: scale(0.95);
	transition: all 200ms ease-in-out;
	animation: pulse 5s infinite normal;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 3px -4px 31px 10px rgba(107, 107, 107, 0.445);
	}
	20% {
		transform: scale(0.95);
		box-shadow: 2px 2px 31px 10px rgba(46, 46, 46, 0.171);
	}
	40% {
		transform: scale(1);
		box-shadow: 3px -4px 31px 10px rgba(56, 56, 56, 0.514);
	}
	60% {
		transform: scale(0.95);
		box-shadow: 2px 2px 31px 10px rgba(133, 133, 133, 0.171);
	}
	80% {
		transform: scale(1);
		box-shadow: 3px -4px 31px 10px rgba(32, 32, 32, 0.514);
	}
	100% {
		transform: scale(0.95);
		box-shadow: 2px 2px 31px 10px rgba(36, 36, 36, 0.171);
	}
}
