/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
	/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */
/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

} */

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.timeline {
		height: 365%;
	}
	.section__welcome {
		width: 139%;
	}
	.hero {
		font-size: 1.5rem;
	}
	.my__name {
		font-size: 2.5rem;
	}

	.sec__title::before {
		left: -12%;
	}

	.skills__section {
		width: 114%;
	}

	.code__l {
		padding-left: 21%;
	}
	.code__num {
		left: 17.5%;
		font-size: 1rem;
	}
	.dots {
		font-size: 0.6rem;
		letter-spacing: 2px;
	}
	.code__wrap {
		font-size: 1rem;
		margin: 1px;
	}
	.section__about {
		width: 140%;
	}
	.contact__section {
		width: 140%;
		height: 75%;
	}
	.contain {
		position: relative;
		padding-top: 5rem;
	}
}
/* Styles */

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	/* Styles */

	.contact__section {
		width: 141%;
	}
	.section__about {
		width: 141%;
	}
	.contact__section {
		width: 141%;
	}
	.section__welcome {
		width: 141%;
	}
	.timeline {
		height: 200%;
	}
	.sec__title::before {
		left: -7%;
	}

	.nav__opened ul li a {
		font-size: 5.5rem;
	}

	.proj__detail h1 {
		font-size: 1.9rem;
	}

	.proj__detail h2 {
		font-size: 1.2rem;
	}

	.proj__detail p {
		font-size: 1.2rem;
		line-height: 1.6rem;
	}
	.timeline {
		height: 400%;
	}
	.contact__container h2 a {
		font-size: 1.2em;
	}
	.sec__title::before {
		left: -11.7%;
	}
	.code__num {
		left: 17.5%;
		font-size: 1rem;
	}
	.lab__grid {
		left: 20%;
	}
	#checkout {
		left: 32%;
	}
	.project {
		left: 30.7%;
		width: 8em;
	}

	.contact__section {
		width: 140%;
		height: 75%;
	}
	.contain {
		position: relative;
		padding-top: 5rem;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
	/* Styles */
	.big__sor {
		position: relative;
		width: auto;
		height: auto;
	}
	.timeline {
		height: 348%;
	}
	.sec__title::before {
		left: -11.2%;
	}

	.code__l {
		padding-left: 21%;
	}
	.code__num {
		left: 17.5%;
		font-size: 1rem;
	}
	.dots {
		font-size: 0.6rem;
		letter-spacing: 2px;
	}
	.code__wrap {
		font-size: 1rem;
	}
	.contact__container h2 a {
		font-size: 1.2em;
	}
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
	/* Styles */
	.sec__title::before {
		left: -11%;
	}

	.timeline {
		height: 348%;
	}
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	/* Styles */
}
