:root {
	--main-bg-color: #171b27;
	--h1-color: #cccccc;
	--main-font-color: #fff;
	--font-color-white: rgb(240, 240, 240);
	--skill-bot-line: rgb(245, 245, 245);
	--timeline: #0d47a1;
	--sec-title: rgb(153, 152, 196);
}
